// Vendors
//==========================================>
@import "../bower/font-awesome/scss/font-awesome";
@import "../bower/material-design-lite/src/material-design-lite";

// Styles
//--------------------------
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

@import "frontend";
@import "backend";

// Components
//--------------------------
@import "components/tables";
@import "components/buttons";
